<div class = "container">
    <div class = "form">
		<p class="notice"><%= flash[:notice] %> </p>
    <p class="alert"><%= flash[:alert] %></p>

		<h1> Cadastro </h1>

			<form action="/register" method="post"> 
					<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
					<input type="text" name="user[name]" value="" placeholder="Type your name" >
					<input type="text" name="user[email]" value="" placeholder="Type your email" >
					<input type="password" name ="user[password]" value="" placeholder="Type your password">
					<button type="submit" class="btn btn-primary" data-toggle="button" aria-pressed="false">Create account</button>  
			</form>
		</div>
</div>

