<div>
    <form action="/register" method="post"> 
        <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
        <input type="text" name="user[email]" value="<%=@user.email%>" >
        <input type="password" name ="user[password]" value="<%=@user.password%>">
        <input submit type="submit" value="Register">
        <%= link_to "Login", "/login" %>   
    </form>
</div>