
<div class="container">
    <div class="form">
        <form action="/withdraw" method="POST">
            <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
            <input type="text" id="amount" placeholder="Type a amount to withdraw" name="user[amount]" value="">
            <br>
            <input class="btn btn-primary" type="submit" value="Withdraw to your wallet">
            <br>
        </form>
    <div>
</div>