<div>
    <h1>Your transactions</h1>
    <div>
        <table>
            <thead>
                <th>Amount</th>
                <th>Date and time</th>    
            </thead>
            <tbody>
                <%=@withdraw.find_each do |withdraw|%>
                    <tr>
                        <td><%=withdraw.amount%></td>
                        <td><%=withdraw.created_at%></td>                           
                    </tr>
                <%end%>
            </tbody>       
        </table>
        <%= link_to "Back", '/withdraw' %>
   </div>
</div>