<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Transaction id</th>
        <th scope="col">Amount</th>
        <th scope="col">Time</th>
      </tr>
    </thead>
    <tbody>
      <%@deposits.each do |deposit|%>
        <tr>
          <td> <%=deposit.id%> </td>
          <td><%=deposit.amount%></td>
          <td><%=deposit.created_at.strftime("%H:%M:%S")%></td>
        </tr>
      <%end%>
    </tbody>
  </table>
</div>