<div class="container">
<table class="table">
  <thead>
    <tr>
      <th scope="col">Withdraw id</th>
      <th scope="col">Amount</th>
      <th scope="col">Time</th>
    </tr>
  </thead>
  <tbody>
    <%@withdraw.each do |withdraw|%>
      <tr>
        <td> <%=withdraw.id%> </td>
        <td><%=withdraw.amount%></td>
        <td><%=withdraw.created_at.strftime("%H:%M:%S")%></td>
      </tr>
    <%end%>
  </tbody>
</table>
</div>