<div class="container">
  <div class="form">
    <a href="withdraws_history" class="btn btn-primary btn-lg btn-block">Withdraw historic</a>
    <a href="transactions_history" class="btn btn-primary btn-lg btn-block">Transactions historic</a>
    <a href="deposits_history" class="btn btn-primary btn-lg btn-block">Deposits historic</a>
  </div>  
</div>