<p class="notice"><%= flash[:notice] %></p>
<p class="alert"><%= flash[:alert] %></p>
<div class="container">
  <form action="/deposit" method="POST">
      <h1>Deposit</h1>
      <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
      <input type="text" name="user[amount]" value="<%=@deposit.amount%>">
      <input type="submit" name="Deposit" value="Deposit">
  </form>
</div>