.container {
	display:flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #ecf0f1;
};

.form{
	display:flex;
	width:50%;
	flex-direction: column;
	padding:10px;
}

.form input{
	height: 45px;
	border: default;
	width: 	100%;
	padding:10px;
  margin: 10px;
}

.form button{
	height: 45px;
	border: default;
	width: 	100%;
	padding:10px;
  margin: 10px;
}
