<!doctype html>
<html lang="en">
  <head>
  	<title>Sidebar 01</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
		
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <div class="container">
        <form action="transactions" method="POST">
            <p class="notice"><%= flash[:notice] %></p>
            <p class="alert"><%= flash[:alert] %></p>
            <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
            <input type="text" name="user[to_user]" value="<%=@target_user.email%>" placeholder="Account">
            <br>
            <br>
            <input type="text" name="user[amount]" value="" placeholder="Amount">
            <br>
            <br>
            <input class="btn btn-primary" type="submit" value="Send money">
        </form>
    </div>
  </body>
</html>

