<div class="container">
    <p class="notice"><%= flash[:notice] %></p>
    <p class="alert"><%= flash[:alert] %></p>
    <div class="form">
      <form action="transactions" method="POST">
          <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
          <input type="text" name="user[to_user]" value="<%@target_user.email%>" placeholder="Account">
          <br>
          <br>
          <input type="text" name="user[amount]" value="" placeholder="Amount">
          <br>
          <br>
          <button type="submit" class="btn btn-primary" data-toggle="button" aria-pressed="false">Send money</button> 
      </form>
    </div>
</div>



